# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
